html,body {
    margin : 0;
    padding : 0;
    width: 100vw;
    min-height: 100vh;
    font-family: "Rubik",sans-serif;
    background-color: #EFF0F2;
    overflow-x: hidden;
}
body {
    overflow: hidden;
}

/* top section of the body */
.top {
    width : 100%;
    height: 5vh;
    padding: 7px 0;
    background-color: #fff;
}
.nav {
    width: 85vw;
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    flex: 0.2;
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    color : #1987AC;
}
.nav-right {
    flex: 0.6;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}
.nav-link {
    transition: all 500ms ease-in-out;
}
.nav-link>a {
    text-decoration: none;
    color : #000;
}
.active-link > a{
    color : #1987AC;
}
.nav-link:hover {
    transform: scale(1.1);
}

/* Mid section with slider */
.mid {
    width: 100%;
    height: 55vh;
    background-color: #1987AC;
    display: flex;
    justify-self: center;
    align-items: center;
}
.slider {
    height: 90%;
    width: 85vw;
    max-width: 900px;
    margin: 0 auto;
}
.slide {
    width: 100%;
    height: 100%;
    color : #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.slide-left{
    flex: 0.7;
    font-size: 16px;
}
.slide-left-header {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 200;
    word-spacing: 3px;
    margin-bottom: 15px;
}
.slide-left-video {
    margin-bottom: 20px;
    margin-top: 10px;
}

.slide-right {
    position: relative;
    flex: 0.25;
    height: 100%;
    object-fit: contain;
}
.slide-right>img {
    height: 100%;
    width: 120%;
    position: absolute;
    bottom: -20px;
    left: 0px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #000;
  }

  /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Body Section */
.container {
    width: 85vw;
    max-width: 900px;
    margin: 5px auto;
}
.content {
    width: 100%;
    min-height: 50vh;
    background-color: #fff;
    margin: 20px 0;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
}
.content-left {
    flex: 0.6;
    height: 90%;
    background:none;
}
.story {
    width: 100%;
    height: 40%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    object-fit: contain;
}
.main-story{
    height: 100% !important;
}
.story-image {
    width: 100%;
    height: 70%;
}
.story-body {
    height: 25%;
    margin-top: 10px;
}
.story-body-head {
    font-size: 1.5rem;
}
.content-right {
    flex: 0.35;
    height: 90%;
}

/* Tab screen */
@media screen and (max-width : 950px) {
    .slide-left-header {
        font-size: 2.5rem;
    }
    .slide-right>img {
        height: 85%;
    }
}
@media screen and (max-width : 800px) {
    .nav-right {
        flex: 0.7;
    }
    .slide-left-header {
        font-size: 2rem;
    }
    .slide-right>img {
        height: 80%;
    }
}
@media screen and (max-width : 640px) {
    .mid {
        height: 70vh;
    }
    .slide {
        width: 100%;
        height: 100%;
        color : #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
    .slide-left{
        height: 90%;
        font-size: 14px;
    }
    .slide-left-header {
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
    }
    .slide-left-video {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .slide-right {
        display: none;
    }

    .container {
        width: 100%;
        max-width: 900px;
        margin: 0;
    }
    .content {
        width: 100%;
        text-align: left;
        min-height: 100vh;
        margin: 0;
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .content-left {
        flex: 0.3;
        width: 95%;
        background:none;
        margin: 0 auto;
    }
    .story {
        width: 80%;
        height: 100%;
        margin: 5px auto;
        display: flex;
        flex-direction: column;
        object-fit: contain;
    }
    .story-body {
        width: 100%;
    }
    .story-body-head {
        width: 100%;
    }
    .content-right{
        flex: 0.6;
        width: 95%;
        margin: 0 auto;
    }
}